* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Agipo Regular Extended, sans-serif;
	background-color: #222;
	color: #333;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto;
}
h1 {
	font-family: Agipo Regular Extended, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: inherit;
	font-kerning: normal;
	letter-spacing: 2px;
	margin: 0 0 1em;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}
a {
	font-family: Agipo Regular Extended, sans-serif;
	color: #dffee7;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	padding: 5px;
	font-size: 12px;
}
a:hover {
	color: #54ff80;
	transition-duration: 0.3s;
	-webkit-font-smoothing: antialiased;
}
.content {
	position: absolute;
	top: 10%;
	left: 5%;
	right: 5%;
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	color: #999;
}

.line-break{
	display: none;
	margin: 0;
	padding: 0;
}

.icons-container{
	display: flex;
	padding-left: 45%;

}
i {
  font-size: 20px;
}

.lost, .music {
	font-size: 15px;
	padding: 0px;
}
.github,
.twitter,
.soundcloud,
.emails,
.resume {
  font-size: 20px;
}


/* Mobile */
@media only screen and (max-device-width:600px) {
	.content {
		/*position: absolute;
		top: 10%;
		left: 5%;
		right: 5%;
		font-size: 16px;
		font-weight: 300;
		font-style: normal;
		color: #fff;*/
	}

	.line-break{
		display: block;
		margin: 0;
		padding: 0;
	}
	/*.find {
		font-size: 80px;
		line-height: 80px;
		letter-spacing: -4.0px;
	}
	.star {
		font-size: 28px;
		margin-top: 70px;
		display: block;
		color: #fafafa;
	}*/

}

.bold {
  text-decoration: line-through;
	color: #dffee7;
}

.bold2 {
	color: #dffee7;
}

#footer-social {
  margin-top: 8px;
  text-align: left;

}

.preloader {
    position: fixed;
		background-color: #dffee7;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: ;
    -webkit-transition: visibility 0s linear .5s, opacity .5s linear;
    transition: visibility 0s linear .5s, opacity .5s linear
}

.preloader.loaded {
    opacity: 0;
    visibility: hidden
}

.preloader__logo {

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 34.0625em;
    height: 34.0625em;
    max-width: 30%
}

.preloader__logo svg {
    width: 100%;
    height: 100%
}

.preloader__progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .4375em
}

.preloader__progress span {
    display: block;
    width: 0;
    height: .4375em;
    -webkit-transition: .5s linear;
    transition: .5s linear;
    background-color: #000
}

ul , li {
		list-style-type:none;
		margin: 0 0 5px;
		-webkit-font-smoothing: antialiased;
		font-weight: 400;
}



/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(223,254,231, 0.8); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
	padding-left: 1%;
    width: 100%; /* 100% width */
	margin-top: 75px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	overflow: hidden;

}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFF;
    display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
	text-align: right;

}
.overlay ul {
	padding-top: 5%;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
}

.lost {
	color: #dffee7;
}

 .title {
	padding-left: 70%;
	color: white;
}

.country {
	text-align: right;
	padding: 2%;
}
h3 {
	text-align: right;
}


/* GLOBE */
figure {
  width: 20%;
  max-width: 80vh;



}
figure #sea {
  fill: rgba(223,254,231, 0.5);
}
figure #hi {
  fill: rgba(255, 255, 255, 0.2);
}
figure #light {
  fill: white;
}
figure #shad {
  fill: rgba(0, 0, 0, 0.05);
}
figure #land {
  fill: #222;
  -webkit-animation: spin 10s linear infinite forwards;
          animation: spin 10s linear infinite forwards;
}
figure .vehicles use {
  fill: #F0FBFC;
  -webkit-animation: orbit 15s linear infinite;
          animation: orbit 15s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
figure #boat1 {
  -webkit-transform: translateX(40px) translateY(-80px);
          transform: translateX(40px) translateY(-80px);
}
figure #boat1 use {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
figure #plane1 {
  -webkit-transform: translateX(-10px) translateY(170px);
          transform: translateX(-10px) translateY(170px);
}
figure #plane2 {
  -webkit-transform: translateX(170px) translateY(150px);
          transform: translateX(170px) translateY(150px);
}
figure #plane2 use {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
figure #plane3 {
  -webkit-transform: translateX(140px) translateY(-50px);
          transform: translateX(140px) translateY(-50px);
}
figure #plane3 use {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
figure #bike1 {
  -webkit-transform: translateX(50px) translateY(190px);
          transform: translateX(50px) translateY(190px);
}
figure #bike1 use {
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-160px);
            transform: rotate(0deg) translateX(-160px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-160px);
            transform: rotate(360deg) translateX(-160px);
  }
}
@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-160px);
            transform: rotate(0deg) translateX(-160px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-160px);
            transform: rotate(360deg) translateX(-160px);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/* GLOBE */



.header {
	font-family: Agipo Regular Extended, sans-serif;
	text-align: right;
	padding-right: 5%;
	padding-top: 2%;
}
